.search {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 2px;

  &-input {
    border: none;
    background: none;
  }
}
